* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    font-size: 100%;
    color: var(--siyah);
}

/* Login Screen*/
.root {
    width: calc(100% - 40px);
    height: 100vh;
}

.article {
    background-color: var(--beyaz);
    padding: 25px 20px 25px 20px;
    max-height: 100%;
    height: 100%;
}

.logo__title {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logo__sphere {
    width: 120px;
    height: 120px;
    background: var(--beyaz);
    border: var(--cizgi);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__sphere:hover img {
    -webkit-animation: spin 1s ease 2 alternate;
    animation: spin 1s ease 2 alternate;
}

@-webkit-keyframes spin {
    100% {
        transform: rotate(360deg) translateX(10px);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg) translateX(10px);
    }
}

.logo__sphere img {
    width: 64px;
    height: 64px;
}

/* isim */
.lock__title {
    padding-top: 25px;
}

.lock__title h1 {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
}

.input-section {
    padding-top: 25px;
}


.tarayici__pwd {
    background-color: transparent;
    color: var(--siyah);
    padding: 0;
    margin: 0;
    border: var(--cizgi);
    border-radius: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    width: 100%;
    padding: 20px 0 20px 0;
    text-indent: 30px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    transition: box-shadow .3s ease-in-out;
}

input[type="password"]:disabled {
    border: rgba(172, 11, 32, 0.9) 1px solid;
    opacity: .5;
}

.validate-area.alert .tarayici__pwd {
    box-shadow: 0 4px 15px 0 rgba(172, 11, 32, 0.9);
}

.tarayici__btn {
    position: relative;
    border-radius: 50px;
    padding: 0;
    margin: 25px 0 0 0;
    border: var(--cizgi);
    background: var(--butonArka);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    width: 100%;
    padding: 20px 0 20px 0;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    cursor: pointer;
    text-transform: uppercase;

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.tarayici__btn:active {
    box-shadow: inset 0px 0px 5px black;
    transform: scale(.98);
    border: 0;
}



.login_in_icon::before {
    margin: 0;
    padding: 0;
    font-family: FontAwesome;
    content: "\f090";
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: lighter;
    line-height: 1;
    margin-left: 10px;

}

.slider__effect {
    overflow: hidden;
    position: relative;
    transition: background .5s ease-in-out, transform .1s ease-in-out;
    transition-delay: background .15s;
}

.slider__effect:hover {
    background: var(--butonHoverArka);
}

.slider__effect span,
.login_in_icon::before {
    transition: all 1.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: var(--butonText);
    z-index: 2;
    line-height: 24px;
}

.slider__effect:hover span {
    letter-spacing: 4px;
    color: var(--butonHowerText);
}

.slider__effect:hover .login_in_icon::before {
    margin-left: 50px;
    letter-spacing: 4px;
    color: var(--butonHowerText);
}

.slider__effect:after {
    background: var(--buttonSlide);
    border: 0px solid #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    width: 50px;
    transition: all 1.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
}

.slider__effect:hover:after {
    background: #fff;
    border: 20px solid var(--butonArka);
    opacity: 0;
    left: 120%;
    transform: rotate(40deg);
}

/* DESC */
.copyright {
    text-align: center;
    margin-top: 15px;
}

.password_lost:hover {
    transform: scale(1.05);
    color: var(--sari);
}

.linkekleme {
    transition: transform .3s ease-in;
    cursor: pointer;
}

.linkekleme:hover {
    transform: scale(1.05);
    color: var(--sari);
}

.copyright div {
    margin-top: 8px;
    cursor: pointer;
    transition: transform .3s ease-in;
}

.copyright p {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 14px;
    margin-right: 5px;
}

.created__by {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

/* Validate */
.validate-area {
    position: relative;
}


.validate-area:not(.alert) .show_password::after {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: var(--siyah);
    right: 40px;
    font-size: 1.4rem;
    font-family: FontAwesome;
    font-weight: 300;
    content: "\f070";
    z-index: 2;

}

.validate-area:not(.alert) .show_password:hover:after {
    content: "\f06e";
    color: var(--sari);

}


.alert::before {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: var(--kirmizi);
    right: 40px;
    font-family: FontAwesome;
    font-weight: 300;
    content: "\f071";
    z-index: 2;
}

.alert::after {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: var(--siyah);
    right: 38px;
    content: attr(uyari);
    max-width: 60%;
    padding: 5px 22px 5px 10px;
    background-color: var(--kirmizi);
    z-index: 1;
    border-radius: 50px;
    transition: all .5s ease-in-out;

    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

.recovery__input__area.alert::after {
    border-radius: 5px;
}

.alert:hover::before {
    color: var(--siyah);
}

.alert:hover::after {
    opacity: 1;
}

.atemp_left_alert {
    color: var(--kirmizi);
}


/* Sayaç */
.count__down {
    padding-top: 20px;
    text-align: center;
}

.count__down p {
    margin: 0;
}

.hidden {
    pointer-events: none !important;
    display: none !important;
    opacity: 0;
}

/* Şifre sıfırlama bölgesi */
.pass_root {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--recoverybg);
    z-index: 10;
    transition: all 1.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}


/* Ana Ekran Açık */
.pass_root.kapali {
    transform: translateX(calc(100% - 40px));
    transition: all 1.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bars__location {
    min-height: 60px;
    padding: 5px 6px 5px 6px;
}

.bars__location i {
    font-size: 2em;
    cursor: pointer;
    color: var(--siyah);
    transition: all 1.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 100%;
    position: relative;
}

.bars__location i::before {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    transition: all 1.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: var(--kirmizi);
}

.bars__location i.kapali::before {
    right: calc(100% - 30px);
    text-align: right;
}

.bars__location i:hover {
    transform: translateX(-5px);
}

.pass_root .main__container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form__container {
    background-color: var(--beyaz);
    position: relative;
    width: 100%;
    height: calc(100vh - 120px);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 40px;
    padding: 0 45px 0 45px;
}

.recovery__title {
    width: 100%;
    margin-bottom: 20px;
}

.recovery__title h1 {
    padding: 0;
    margin: 0;
    font-size: 1.75em;
    line-height: 1;
    font-weight: 700;
    color: var(--yesil);
    margin-bottom: 10px;
    text-align: center;
}

.recovery__title .alt__title {
    text-align: center;
    margin-top: 30px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.recovery__title .alt__title span {
    display: inline-block;
    font-size: .9em;
    font-weight: 300;
    color: var(--siyah);
    width: 60%;
}


/* Inputs */
.recovery__form {
    width: calc(100% - 45px);
}

.recovery__input__area {
    margin-bottom: 20px;
}

.recovery__input {
    background-color: transparent;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: var(--cizgi);
    border-radius: 10px;
    text-indent: 30px;
    width: 100%;
    padding: 13px 0 13px 0;
    color: var(--siyah);
    font-size: 0.875em;
    font-weight: 500;
}

.recovery__form .button__area {
    display: flex;
    flex-direction: row;
}

.recovery__btn .tarayici__btn {
    width: 100%;
    margin: 0;
    border-radius: 10px;
    padding: 13px 0 13px 0;
    font-size: 0.875em;
    font-weight: 500;

    margin: 0 0 0 auto;
}

.changepass__btn {
    width: 100% !important;
}

.recovery__btn .tarayici__btn span {
    line-height: 1;
}

.recovery__btn {
    width: 30%;
}

.recaptcha__text {
    width: 70%;
}

.recaptcha__text span {
    font-weight: 300;
    font-size: 0.85em;
}

.recaptcha__text span b {
    color: var(--yesil);
}

.grecaptcha-badge {
    display: none;
}


/* Loader */
.form__loading {
    display: flex;
    flex-direction: row;
}

.form__loading div {
    --delay: 0s;
    animation: scale 1.1s var(--delay) infinite ease-in-out;
    margin-left: 2px;
    border-radius: 50%;
    background: var(--butonText);
    width: 15px;
    height: 15px;
    opacity: 1;
}

@keyframes scale {

    0%,
    100% {
        transform: translateY(3px) scale(.6);
    }

    50% {

        transform: translateY(-3px) scale(.3);
    }
}